<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 可以加载外部的配置文件，要卸载最前面 -->
	<properties resource="db.properties"/>

	<!-- 定义类型别名 -->
	<typeAliases>
		<!-- <typeAlias alias="Student" type="com.situ.mybatis.entity.Student"/>
		<typeAlias alias="Banji" type="com.situ.mybatis.entity.Banji"/> -->
		<!-- 扫描包里面的类，批量起别名，别名即为类名，别名不区分大小写 -->
		<package name="com.situ.ssm.entity"/>
		<package name="com.situ.ssm.vo"/>
		<!-- <package name="其他包"/> -->
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<!--使用JDBC的事物管理  -->
			<transactionManager type="JDBC"/>
			<!-- 配置数据库连接池  POOLED JDBC的数据库连接池-->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	

	<!-- 加载映射文件 -->
	<mappers>
		<!-- <mapper resource="com/situ/mybatis/entity/StudentMapper.xml"/>
		<mapper resource="com/situ/mybatis/entity/BanjiMapper.xml"/> -->
		<!-- 要求Mapper的接口名和Mapper的映射文件名相同，而且在一个包下面 -->
		<package name="com.situ.ssm.mapper"/>
	</mappers>
	
</configuration>